.btn-purple1 {
  background-color: var(--light-purple);
}

.btn-mint {
  background-color: #e1e7e77e;
  margin: 5px;
}

.btn-rose {
  background-color: var(--rose);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: transparent;
}
