.btn-purple1 {
  background-color: var(--light-purple);
}

.btn-mint {
  background-color: var(--light-blue);
}

.btn-yellow {
  background-color: var(--lemon);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: transparent;
}
