.btn-purple1 {
  background-color: var(--light-purple);
}

.btn-mint {
  background-color: #e1e7e77e;
  margin: 10px;
}

.btn-rose {
  color:#8ab1a8 ;
background-color: transparent;
font-weight: 700;
font-size: 1.2em;
&:hover{
  text-decoration: underline !important;
  color: #759c93;
}
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: transparent;
}
