#contact{
  width: 60%;
  margin:auto;

  .button {
    padding: 5px;
    margin-bottom: 15%;

    &:hover{
      background-color: white;
      color: var(--light-purple2);
      
      
    }
  }
  button:hover a{
    color: var(--light-purple2);

  }
}