#contact{

  margin:auto;

  .button {
    padding: 2px;
    margin-bottom: 10%;

    &:hover{
      background-color: var(--light-purple) !important;
      color: white !important;
      
      
      
    }
  }
  button:hover a {
    color: white !important;

  }
}

.navlinks{
  background-color: var(--rose4);
  position: fixed;
  top: 10%;
  left: 1%;
  z-index: 100;
  @media (max-width:767px) {
    position: sticky;
    top: 1%;

  }

  
 
  .animated-btn{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width:767px) {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .button{
      margin: 5px;
    }
    
    }
i{
  padding: 5px;
}

.button{
 

  &:hover{
    background-color: var(--light-purple) !important;
    color: white !important;
    
  }

button:hover i{
  color: white !important;

}

}
  }

  
}

.fiverr{
  display: flex;
  background: url('/svg/fiverr.svg');
  background-repeat: no-repeat;
  padding: 16px !important;

  }
