
.bold-word{
    color: var(--mint5);
}



.cv {
    a:hover {
        color: var(--light-purple) !important;
    }

}



.cv a {
    color: var(--teal);
}

.resume{

    h5{
        text-transform: uppercase;
    }
    .text-pink{
        color: var(--rose2);
        font-weight: 500;
    }

    .card{
        border: none;
        // p{
        //     padding: 0 20px;
        // }
    }





    .skills{
        background-color: var(--mint);
        margin-top: 30px;
        padding: 30px;
        width: 100%;

        .skill{
            margin: 30px 0;
            width: 100%;
            
            
        }


        .progress{
            width: 100%;

        }



        .bg-teal{
            background-color: white;
        }
    }
    
}







.img {

    margin:auto;
    img {
        border-radius: 50%;
        width: 100%;

        @media (max-width:768px) {
            display: none;

        }
    }
}

.experience{
    width: 100%;
    .list-group-item{
        border:none;
        width: 100%;
        // padding: 10px;
    }

    .exp{
        font-weight: 500;


    }

}



.list-group-item{

    .exp:hover{
        color: var(--light-purple2);
    }
}

.page-title{
    .card{
        margin:0% !important;

        .cv-btn{
            margin:0% !important;

        }
    }
}

.resume{
    .about{
        margin:0% !important;

    }
}