.footer {

  z-index: 100;
  background-color: var(--teal);
  // min-height: calc(30px-100vh);

  position: fixed;
  bottom: 0%;
  a,img {
    

    @media (min-width:350px) {
      height: 20px;
      font-size: 15px;

    }

    @media (min-width:768px) {
      height: 25px;
      font-size: 20px;
    }

  }
}