$breakpoint-tablet: 1000px;

body {
  height: 100%;
  width: 100%;
}

.landing {
  // @media (max-width: 414px) {
  //   min-height: 700px;
  // }

  // @media (min-width: 415px) {
  //   min-height: 740px;
  // }

  // @media (min-width: 768px) {
  //   min-height: 370px;
  // }

  // @media (min-width: 1024px) {
  //   min-height: 300px;
  // }

  // @media (min-width: 1044px) {
  //   min-height: 300px;
  // }

  .picture {
    padding: 20px 10px 20px 10px;
    display: block;
  }
}


.col-md-6 {
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 50%;
    align-items: center;
    display: flex;
  }
}

.wrap-intro{
  min-height: 800px;
}

 .landing{
.picture{
  display: flex;
  justify-content: center;
  
  img{
    max-height: auto;
    width: 600px;
  }
}}
