.proj-cards{
    .card{


       @media (max-width:414px) {
           
           
       }

        @media (min-width:768px) {
            margin:50px 100px !important;

        }

        @media (min-width:1024px) {
            margin:50px 150px !important;

        }
        
        img{
            height: auto;

        }
    }}


      


.page-title{
    .btn-group {
        display: flex;

    }
}