.quote .card {

  display: block;
  margin: 10px 0 60px 0;
  padding: 60px 0;
  background-color: #e4d1d16b;
 
 
  // @media (max-width: 414px) {
  //   margin: 40px 0;

  // }
 
  // @media (min-width: 768px) {
  //   margin: 10px 0;

  // }
  // @media (min-width: 1024px) {
  //   margin: 90px 0;

  // }
}

.blockquote-footer{
  padding-top: 40px;
}