//  .up i{
//     position: fixed;
//   bottom: 10%;
//   right: 5%;
//   font-size: 30px;
//   color: var(--teal);
//   z-index: 3;

  
// }

// .up a{
//     i:hover{
//         color: rgba(178, 201, 193, 0.493);
       
        
        
//     }
// }





#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #56626e86;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;

    bottom: 10%;
    right: 5%;
    font-size: 25px;
    color: white;
}

#myBtn:hover {
  background-color:#56626eb2;
  color:white;
}