:root {
    --footer:#291d36cc;
    --light-purple:#A58FAA;
    --light-blue: #A6D6D6;
    --lemon:#EDEDD0;
    --logo:rgb(42, 31, 59);


    --teal:#56626E;
    --cafe:#D4D4D4;
    --rose:#F0EAEA;
    --mint:#E1E7E7;
    --grey:#6C6C6E;
    --black:#010101;
  }