:root {
    --footer:#291d36cc;
    --light-purple:#A58FAA;
    --light-blue: #A6D6D6;
    --lemon:#EDEDD0;
    --logo:rgb(42, 31, 59);

    --light-purple2:#76587e;



    --teal:#56626E;
    --cafe:#d4d4d48f;
    --rose:#F0EAEA;
    --rose2:#b39090;
    --rose3:#e4d1d16b;


    --mint:#E1E7E7;
    --mint2:#88a8a82d;
    --mint3:#598383c4;
    --mint4: #7cafafa1;


    --grey:#6C6C6E;
    --black:#010101;
    --teal2:#60758a;

  }