@import '../styles/Sass/navbar';
@import '../styles/Sass/home';
@import '../styles/Sass/vars';
@import '../styles/Sass/buttons';
@import './Sass/footer';
@import '../styles/Sass/cards';
@import '../styles/Sass/quote';
@import '../styles/Sass/contact';
@import '../styles/Sass/pros';
@import '../styles/Sass/page-title';
@import '../styles/Sass/up';
@import '../styles/Sass/cv';

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


body {
    max-width: 100%;
    // background-image: url(../images/bg2.jpg);

    max-height: 100%;
    padding: 0 10;
    margin: auto;

    a:hover {
        color: var(--light-purple);
    }
}

h2{
    text-align: center;
    color:var(--teal);    font-weight: 700;
   
    margin:60px auto;
    text-decoration: underline;

 &:hover{
      
        color: rgba(122, 167, 146, 0.658);
    }


}




.card-text p {
    font-size: 20px !important;
}

.lang {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 10px;
}

h5 {
    color: rgb(148, 111, 134);
}

h7 {
    color: var(--teal);
}

.gitlink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gitlink a {
    color: var(--teal);
    font-size: 1em;
    text-decoration: underline;


}