@import url("https://fonts.googleapis.com/css2?family=Allura&family=Ephesis&family=Parisienne&display=swap");
body {
  height: 100%;
  width: 100%;
}

@media (max-width: 414px) {
  .landing {
    min-height: 700px;
  }
}

@media (min-width: 415px) {
  .landing {
    min-height: 740px;
  }
}

@media (min-width: 768px) {
  .landing {
    min-height: 370px;
  }
}

@media (min-width: 1024px) {
  .landing {
    min-height: 350px;
  }
}

@media (min-width: 1044px) {
  .landing {
    min-height: 550px;
  }
}

.landing .picture {
  padding: 20px 10px 20px 10px;
  display: block;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.wrap-intro {
  min-height: 800px;
}

.cv-btn {
  margin: 0 20%;
  width: 250px;
}

@media (min-width: 500px) {
  .cv-btn {
    margin: 0 25%;
  }
}

.cv-btn body {
  display: -ms-grid;
  display: grid;
  color: #111;
}

.cv-btn a {
  text-decoration: none;
  color: inherit;
}

.cv-btn .cta {
  position: relative;
  margin: auto;
  padding: 19px 19px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cv-btn .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #7e91a554;
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cv-btn .cta span {
  position: relative;
  font-size: 1em;
  line-height: 10px;
  font-weight: 800;
  vertical-align: middle;
  letter-spacing: 0.15em;
}

.cv-btn .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cv-btn .cta:hover:before {
  width: 100%;
  background: #e1e7e77a;
}

.cv-btn .cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cv-btn .cta:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.landing .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .picture img {
  max-height: auto;
  width: 600px;
}

:root {
  --footer:#291d36cc;
  --light-purple:#A58FAA;
  --light-blue: #A6D6D6;
  --lemon:#EDEDD0;
  --logo:rgb(42, 31, 59);
  --teal:#56626E;
  --cafe:#d4d4d48f;
  --rose:#F0EAEA;
  --rose2:#b39090;
  --rose3:#e4d1d16b;
  --mint:#E1E7E7;
  --mint2:#88a8a82d;
  --mint3:#598383c4;
  --grey:#6C6C6E;
  --black:#010101;
  --teal2:#60758a;
}

.navbar {
  width: 100%;
  margin: auto;
  padding-left: 7px;
  border-bottom: 1px solid rgba(190, 185, 185, 0.445);
}

.navbar-brand {
  font-family: 'Style Script', cursive;
  font-size: 2.5rem;
}

@media (max-width: 414px) {
  .navbar-brand {
    font-size: 2em;
  }
  .navbar-brand a {
    text-decoration: none !important;
  }
  .navbar-brand a:hover {
    text-decoration: none;
  }
}

.offcanvas-header h5 {
  font-family: "Ephesis", cursive;
  font-size: 2rem;
}

.navbar-nav {
  padding: 10px 20px !important;
}

.navbar-nav a {
  font-weight: light;
}

.offcanvas a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: var(--light-purple);
}

.fixed-top {
  position: fixed !important;
  top: 15px !important;
  width: 60px;
}

@media (max-width: 414px) {
  .fixed-top {
    top: 7px !important;
  }
}

@media (max-width: 414px) {
  .fixed-top {
    left: 80%;
  }
}

@media (min-width: 415px) {
  .fixed-top {
    left: 90%;
  }
}

@media (min-width: 769px) {
  .fixed-top {
    left: 93%;
  }
}

.offcanvas-header a {
  font-family: "Ephesis", cursive;
  font-size: 1.5rem;
}

.contact-nav {
  position: fixed;
  bottom: 0%;
  color: var(--footer);
  font-size: 1.2em;
  right: 4%;
}

@media (min-width: 600px) {
  .contact-nav {
    right: 2%;
    padding: 5px 0;
  }
  .contact-nav a {
    font-size: 1rem;
  }
}

.contact-nav a {
  padding: 0 0.4em;
}

body {
  height: 100%;
  width: 100%;
}

@media (max-width: 414px) {
  .landing {
    min-height: 700px;
  }
}

@media (min-width: 415px) {
  .landing {
    min-height: 740px;
  }
}

@media (min-width: 768px) {
  .landing {
    min-height: 370px;
  }
}

@media (min-width: 1024px) {
  .landing {
    min-height: 350px;
  }
}

@media (min-width: 1044px) {
  .landing {
    min-height: 550px;
  }
}

.landing .picture {
  padding: 20px 10px 20px 10px;
  display: block;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.wrap-intro {
  min-height: 800px;
}

.cv-btn {
  margin: 0 20%;
  width: 250px;
}

@media (min-width: 500px) {
  .cv-btn {
    margin: 0 25%;
  }
}

.cv-btn body {
  display: -ms-grid;
  display: grid;
  color: #111;
}

.cv-btn a {
  text-decoration: none;
  color: inherit;
}

.cv-btn .cta {
  position: relative;
  margin: auto;
  padding: 19px 19px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cv-btn .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #7e91a554;
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cv-btn .cta span {
  position: relative;
  font-size: 1em;
  line-height: 10px;
  font-weight: 800;
  vertical-align: middle;
  letter-spacing: 0.15em;
}

.cv-btn .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cv-btn .cta:hover:before {
  width: 100%;
  background: #e1e7e77a;
}

.cv-btn .cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cv-btn .cta:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.landing .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .picture img {
  max-height: auto;
  width: 600px;
}

:root {
  --footer:#291d36cc;
  --light-purple:#A58FAA;
  --light-blue: #A6D6D6;
  --lemon:#EDEDD0;
  --logo:rgb(42, 31, 59);
  --teal:#56626E;
  --cafe:#d4d4d48f;
  --rose:#F0EAEA;
  --rose2:#b39090;
  --rose3:#e4d1d16b;
  --mint:#E1E7E7;
  --mint2:#88a8a82d;
  --mint3:#598383c4;
  --grey:#6C6C6E;
  --black:#010101;
  --teal2:#60758a;
}

.btn-purple1 {
  background-color: var(--light-purple);
}

.btn-mint {
  background-color: #e1e7e77e;
  margin: 10px;
}

.btn-mint:hover {
  color: #4a7272;
}

.btn-rose {
  color: var(--teal);
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: underline !important;
}

.btn-rose:hover {
  background-color: white;
  color: #759c93;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: transparent;
}

.footer {
  z-index: 100;
  background-color: var(--teal);
  position: fixed;
  bottom: 0%;
}

@media (min-width: 350px) {
  .footer a, .footer img {
    height: 20px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .footer a, .footer img {
    height: 25px;
    font-size: 20px;
  }
}

.background2 {
  padding: 0 50px 50px 50px;
}

.card {
  height: auto;
  padding-top: 30px;
}

h6 {
  color: var(--teal);
}

.quote .card {
  display: block;
  margin: 100px 0 60px 0;
  padding: 60px 0;
  background-color: #e1e7e798;
}

@media (max-width: 414px) {
  .quote .card {
    margin: 50px 0;
  }
}

@media (min-width: 768px) {
  .quote .card {
    margin: 50px 0;
  }
}

@media (min-width: 1024px) {
  .quote .card {
    margin: 90px 0;
  }
}

.blockquote-footer {
  padding-top: 40px;
}

.contact-btn {
  margin: 0 30%;
  width: 250px;
}

.contact-btn .collapse .card {
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

@media (min-width: 500px) {
  .contact-btn {
    margin: 0 40%;
  }
}

.contact-btn .card-body a {
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
}

.contact-btn html,
.contact-btn body {
  height: 100%;
}

.contact-btn body {
  display: -ms-grid;
  display: grid;
  color: #111;
}

.contact-btn a {
  text-decoration: none;
  color: inherit;
}

.contact-btn .cta {
  position: relative;
  padding: 19px 19px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-btn .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #7e91a554;
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-btn .cta span {
  position: relative;
  font-size: 1em;
  line-height: 10px;
  font-weight: 800;
  vertical-align: middle;
  letter-spacing: 0.15em;
}

.contact-btn .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-btn .cta:hover:before {
  width: 100%;
  background: #e1e7e77a;
}

.contact-btn .cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact-btn .cta:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

@media (min-width: 768px) {
  .proj-cards .card {
    margin: 50px 100px !important;
  }
}

@media (min-width: 1024px) {
  .proj-cards .card {
    margin: 50px 150px !important;
  }
}

.proj-cards .card img {
  height: auto;
}

.proj-cards .card .par {
  font-size: 1.2em;
  color: black;
  font-weight: 300;
}

.proj-cards .card .gitlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proj-cards .card .gitlink a {
  color: var(--teal);
  font-size: 1em;
  text-decoration: underline;
  margin: 10px;
}

.proj-cards .card .gitlink a:hover {
  background-color: var(--cafe);
  padding: 8px;
  border-radius: 10px;
  color: #759c93;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 10px;
}

.page-title .card {
  background-color: transparent;
}

.page-title .card .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title .card {
  border: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #56626e86;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  bottom: 10%;
  right: 5%;
  font-size: 20px;
  color: white;
}

#myBtn:hover {
  background-color: #56626eb2;
  color: white;
}

.bold-word {
  color: var(--mint3);
}

@media (max-width: 414px) {
  .cv .cta {
    right: 30%;
  }
}

@media (min-width: 415px) {
  .cv .cta {
    right: 20%;
  }
}

@media (min-width: 769px) {
  .cv .cta {
    right: 10%;
  }
}

.cv a {
  color: var(--teal);
}

.resume h5 {
  text-transform: uppercase;
}

.resume .text-pink {
  color: var(--rose2);
  font-weight: 500;
}

.resume .card {
  border: none;
}

.resume .skills {
  background-color: var(--mint);
  margin-top: 30px;
  padding: 30px;
  width: 100%;
}

.resume .skills .skill {
  margin: 30px 0;
  width: 100%;
}

.resume .skills .progress {
  width: 100%;
}

.resume .skills .bg-teal {
  background-color: white;
}

.img {
  margin: auto;
}

.img img {
  border-radius: 50%;
  width: 100%;
}

@media (max-width: 768px) {
  .img img {
    display: none;
  }
}

.experience {
  width: 100%;
}

.experience .list-group-item {
  border: none;
  width: 100%;
}

.experience .exp {
  font-weight: 500;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

body {
  max-width: 100%;
  max-height: 100%;
  padding: 0 10;
  margin: auto;
}

body a:hover {
  color: var(--light-purple);
}

h2 {
  text-align: center;
  color: var(--teal);
  font-weight: 700;
  background-color: var(--cafe);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px !important;
  border-radius: 10px;
  margin: 60px auto;
}

h2:hover {
  background-color: var(--cafe);
  color: rgba(122, 167, 146, 0.658);
}

.card-text p {
  font-size: 20px !important;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 10px;
}

h5 {
  color: #946f86;
}

h7 {
  color: var(--teal);
}

.gitlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gitlink a {
  color: var(--teal);
  font-size: 1em;
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */